.icon {
    fill: #eeeafe;
    height: 50px;
    width: 50px;
}

.active {
    fill: #9277f8;
    height: 50px;
    width: 50px;
}

.InterestsDiv {
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}