
h1 {
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: var(--regular);
    color: var(--color-primary);
}

h2 {
    font-family: var(--font-secondary);
    text-align: center;
    color:var(--color-primary);
}

/* whole box */


form {
    background-color: var(--color-off-white);
    margin: 50px auto;
    width: 50%;
    border-style: solid;
    border-color: var(--color-tertiary);
    border-radius: 5px;
  }

  .field {
    display: flex;
    border-radius: 5px;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    
  }

  .field label {
    font-size: 16px;
    font-family: var(--font-primary);
    letter-spacing: 0.5px;
    color: var(--color-dark-grey);
    padding: 10px;
  }
  
  .field input,
  .field textarea {
    flex-basis: 50%;
    border: 2px solid var(--text-box-outline);
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    background-color: #ffff;
    text-align: left;
    margin: 5px;
  }

  form button {
    padding: 10px 25px;
    font-size: 14px;
    background-color: var(--color-primary);
    border-radius: 3px;
    margin-top: 2rem;
    color: var(--color-off-white);
    letter-spacing: 1px;
    border: unset;
}

form button:hover {
    background-color: var(--color-secondary);
    color: var(--current-foreground);
}
  /* form button {
    display: flex;
    width: 100px;
    color: var(--color-off-white);
    background-color: var(--current-background);
    padding: 15px;
    justify-content: right;
    align-items: right;
    padding: 2px;
  }
  
  form button:hover {
    border: 2px solid var(--text-box-outline);
    background-color:var(--color-secondary);
    color:var(--color-primary);
  } */