.main {
    margin: 20px;
}

.introduction{
    display: grid;
    padding: 80px;
    font-size: 18px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }

.left-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.action-button {
    justify-content: center;
    /* color: var(--color-primary); */
    background-color: var(--color-tertiary);
    font-family: var(--font-primary);
    font-weight: var(--black);
    font-size: 18px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;    
}

.highlight {
    color: var(--color-primary)
}