.profile-photo {
  top: 30px;
  border-radius: 50%;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.interest-icons {
  padding: 50px;
  margin: 30px;
  margin-left: 50px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.profileInformation {
  justify-content: center;
  font-size: larger;
  grid-column:1 / span 2;
  grid-row: 2 / 3;
}

.profile-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 20% 35% 55%;
}

.mentor-name {
  grid-column:1 / span 2;
  grid-row: 1 / 2;
}

.location {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.bio {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}