.navbar {
    display: flex;
    justify-content: space-between;
    font: var(--font-secondary);
    font-weight: var(--bold);
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 10px;
}


.firstList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


a {
    text-decoration: none;
    background-color: var(--light-background);
    background-image: linear-gradient(
      to right,
      var(--color-secondary),
      var(--color-secondary) 50%,
      var(--color-background-light) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: var(--color-secondary);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
