.footer {
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font: var(--font-secondary);
    font-weight: var(--bold);
    font-size: 14px;
    background-color: var(--color-secondary);
    padding: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50px;
  margin: 10px 10px 10px 0px;
}

.column-left {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  color: var(--light-foreground);
  align-items: stretch;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-top: 10px;
}

.column-middle {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-top: 10px;
}

.column-right {
  display: flex;
  width: min(75% - 10rem);
  margin-inline: auto;
  color: var(--light-foreground);
  font-size: smaller;
}

a {
  color: var(--light-foreground);
}