body {
  background-color: var(--current-background);
  /* color: var(--font-color); */
  margin: 0px;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-primary);
}
