@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-primary: 'Archivo', sans-serif;
  --font-secondary: 'Noticia Text', serif;
  --regular: 400;
  --bold: 700;
  --black: 900;
  --color-primary: #6339ff;
  --color-secondary: #b5ec85;
  --color-tertiary: #9277f8;
  --color-background-light: #fff9f2;
  --color-background-dark: #303030;

}